@model Schedule_MVC.Models.ScrapedData

<h1>Teacher Information for @Model.CourseFullName</h1>

<div>
    <p>Tutor: @Model.Name</p>
    <p>Leading tutor: @Model.IsLead</p>
</div>

<strong><a asp-action="Index">Go back</a></strong>