@{
    ViewData["Title"] = "Home Page";
}

<button id="theme" class="btn btn-secondary position-fixed top-0 end-0 m-2"></button>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px;">
        <div class="card-body text-center">
            <h1 class="display-5 mb-3">Wykonali:</h1>
            <hr class="my-3">
            <p class="fs-4 fw-semibold">Krzysztof Pieczarka</p>
            <p class="fs-4 fw-semibold">Paweł Gawron</p>
        </div>
    </div>
</div>

